HELP.md
target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
/src/main/resources/data.sql
/src/main/resources/test-data/run_data_28_05_2025.CSV
/src/main/resources/test-data/run_data_09_06_2025.CSV
/src/main/resources/test-data/test_data.CSV
/src/main/resources/test-data/run_data_12_06-2-25.CSV
